services:
  app:
    container_name: socialMedia-api-container
    image: abdullahm196/social-media-api
    build:
      context: .
      target: production
    env_file: ./.env
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
